---
pageable: true
per_page: 10
---

- @title = "Positive Externality: The curious task of economics..."


- page_articles.each_with_index do |article, i|
  %h2
    = link_to article.title, article
    %span= article.date.strftime('%b %e')
  %p= article.summary

- if paginate
  %p
    Page #{page_number} of #{num_pages}
  - if next_page
    %p= link_to "Older Entries", next_page
  - if prev_page
    %p= link_to "Newer Entries", prev_page

